/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './mixins';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';
// always include only once per project
@include mat-core();
/* 
// Custom.scss
// Option A: Include all of Bootstrap

@import "node_modules/bootstrap/scss/bootstrap";
Copy
// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
 */


button:focus {
    outline: 0px !important;
}

#loader {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -o-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    text-align: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    top: 50%; 
}
  