<div class="gift-card">
    <div class="birthday">
        <div class="current">
          <span>2</span><span>1</span>
        </div>
        <span class="plus">&</span>
        <div class="frontend">
          <span class="frontend-text">2</span>
        </div>
        <div class="final">Happy <span>Birthday</span></div>
        
    </div>
    <span class="fa fa-birthday-cake"></span>
    <button class="btn-wish" mat-button (click)="onWishClicked()">My wish for you! Click me!!</button>
</div>