header, main, footer {
    padding-left: 240px;
  }
  
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

  .view {
    //background: url("") no-repeat center center;
    background-size: cover;
}

.mat-toolbar {
    background-color: #fff;
    color: #000;
    font-weight: 300;
}