
<!--Card-->
<div class="card card-cascade wider reverse my-4">

  <!--Card image-->
  <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
      <img src="./assets/img/us/us (1).jpg" class="img-fluid">
      <a>
          <div class="mask"></div>
      </a>
  </div>
  <!--/Card image-->

  <!--Card content-->
  <div class="card-body text-center">
      <!--Title-->
      <h4 class="card-title"><strong>My love</strong></h4>
      <h5 class="indigo-text"><strong>From the bottom of my heart</strong></h5>

      <p class="card-text">You are the love of my life. Everything I have and everything I am is yours. Forever.
      </p>

      <!--Linkedin-->
      <a class="icons-sm li-ic"><i class="fa fa-heartbeat"> </i></a>
      <!--Twitter-->
      <a class="icons-sm tw-ic"><i class="fa fa-heart"> </i></a>
      <!--Dribbble-->
      <a class="icons-sm fb-ic"><i class="fa fa-gratipay"> </i></a>

  </div>
  <!--/.Card content-->
    
</div>
<!--/.Card-->


          

<div class="card-columns">
    <div class="card">
      <img class="card-img-top view hm-white-slight waves-light" src="./assets/img/us/us (2).jpg" alt="Card image cap" mdbRippleRadius>
      <div class="card-body">
        <h5 class="card-title">Chúc mừng sinh nhật thứ 22 của Hà</h5>
        <p class="card-text">Chúc bà tuổi mới xinh đẹp hơn, học hành càng giỏi, tìm được công việc mình yêu thích 
            và sẽ bớt giận tui hơn :D.
        </p>
      </div>
    </div>
    <div class="card bg-dark text-white p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p>I saw that you were perfect, and so I loved you. 
          Then I saw that you were not perfect and I loved you even more.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
              from <cite title="Source Title">Angelita Lim</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card bg-danger text-white">
      <div class="card-body">
        <h5 class="card-title">Nhận lỗi</h5>
        <p class="card-text text-white">Dù cho quen nhau hơn 8 tháng, nhưng tui làm bà giận tui quài à.
          Tui thiệt là vô dụng, lanh chanh, chả được gì cả. Vậy mà bà vẫn quen tui. Tui thương bà nhiều lắm,
           vì quen 1 thằng như tui. Tui sẽ ráng tốt hơn, để bà sẽ không phải nói tui nhiều nữa.
        </p>
        <p class="card-text text-white"><small class=" text-white">Chỉ mong nếu có lỗi thì bà sẽ bỏ qua, hay giận 1-2 ngày thôi nha</small></p>
      </div>
    </div>
    <div class="card border-primary text-primary text-center p-3">
      <blockquote class="blockquote border-primary mb-3">
        <p>Love isn't a state of perfect caring. It is an active noun like struggle. 
          To love someone is to strive to accept that person exactly the way he or she is, right here and now.</p>
        <footer class="blockquote-footer text-primary">
          <small>
            from <cite title="Source Title">Fred Rogers</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card bg-info text-center">
      <div class="card-body">
        <h5 class="card-title text-white">Nhưng nhìn lại</h5>
        <p class="card-text text-white">Thì hai đứa cũng trải qua biết bao sóng gió, vui buồn, giận hờn.
            Thấy được nhiều mặt tốt (của Hà), mặt xấu (của tui) của nhau.
        </p>
        <p class="card-text text-white"><small></small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img" src="./assets/img/us/us (4).jpg" alt="Card image">
    </div>
    <div class="card p-3 text-right">
      <blockquote class="blockquote mb-0">
        <p>I swear I couldn't love you more than I do right now, and yet I know I will tomorrow.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            from <cite title="Source Title">Leo Christopher</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card bg-success text-white ">
      <div class="card-body  text-white">
        <h5 class="card-title text-white">Kỷ niệm</h5>
        <p class="card-text text-white">
            Tuy chỉ mới đi cùng nhau một đoạn đường ngắn, nhưng tui tin 2 đứa sẽ đi đến đích với nhau.
            Ráng cùng nhau chụp thiệt nhiều hình để bỏ vào web này nhen :D
        </p>
        <p class="card-text text-white"><small >Love you</small></p>
      </div>
    </div>
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (39).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (5).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (6).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (10).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (8).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (9).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card text-center p-3">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (7).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
      <blockquote class="blockquote mb-0">
        <p>I look at you and see the rest of my life in front of my eyes.</p>
        <footer class="blockquote-footer">
          <small>
            from <cite title="Source Title">Khoai Lang</cite>
          </small>
        </footer>
      </blockquote>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (11).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (12).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (13).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (14).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (15).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
</div>

<div class="card-columns">
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (28).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (16).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (17).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (18).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (19).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (20).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (21).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (22).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>

          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (24).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (25).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (26).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (27).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (29).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (30).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (31).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (34).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (36).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (39).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view hm-white-slight waves-light" mdbRippleRadius>
          <img src="./assets/img/us/us (40).jpg" class="img-fluid" alt="Card image with a tree in a middle of a lake.">
          <a>
              <div class="mask"></div>
          </a>
      </div>
    </div>
    <!--/.Card-->
</div>


<!--Card-->
<div class="card card-cascade wider reverse my-4">

    <!--Card image-->
    <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
        <img src="./assets/img/us/us (37).jpg" class="img-fluid">
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <!--/Card image-->
  
    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title"><strong>Oh, Tới đây rồi hả</strong></h4>
        <h5 class="indigo-text"><strong>Vẫn còn một món quà nữa nha </strong></h5>
  
        <p class="card-text">Thi xong hai đứa đi ăn một bữa sushi hoành tráng mừng sinh nhật Hà nha.
            Chúc Hà 31/3 thi VNU hơn 180 điểm nha :D
        </p>
  
        <!--Linkedin-->
        <a class="icons-sm li-ic"><i class="fa fa-heartbeat"> </i></a>
        <!--Twitter-->
        <a class="icons-sm tw-ic"><i class="fa fa-heart"> </i></a>
        <!--Dribbble-->
        <a class="icons-sm fb-ic"><i class="fa fa-gratipay"> </i></a>
  
    </div>
    <!--/.Card content-->
      
  </div>
  <!--/.Card-->