<div class="sidebar-wrapper">
    
    <div class="logo">
        <a class="simple-text">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png"/>
            </div>
            Helena Project
        </a>
    </div>

    <ul id="nav-item" class="nav responsive-nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a class="custom-sidenav-item" [routerLink]="[menuItem.path]" mat-button>
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li>
            <a class="custom-sidenav-item" (click)="onChatBox()" mat-button>
                <i class="material-icons">fingerprint</i>
                <p>Chat box</p>
            </a>
        </li>
    </ul>


</div>


 